<h2>Input details of your recipe: </h2>
<form action="/create" method="POST"/>
  Name of the recipe: <input type="text" name="name"><br>
  Description: <input type="text" name="description"><br>
  Have you already tried it? <input type="checkbox" name="done"><br>
  Cooking time: <input type="text" name="cooking_time"><br>
  <input type="submit">
</form>
