<h1>Welcome to the cookbook</h1>
<p> What do you want to do next ?</p>
<ul>
  <% @options.each_pair do |key, value| %>
    <li>
      <a href="/<%= key.to_s %>"><%= value %></a>
    </li>
  <% end %>
</ul>
